<ion-view view-title="Amaca Sports">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          Great News ! We recently added<b>Ski Resorts</b> to our services.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>2</b> activities registered tomorrow.
        </div>
      </div>
    </div>
	<a href="/tab/dash"><button class="btn">Look Around Me</button></a>
  </ion-content>
</ion-view>
